/* Custom Font */
@font-face {
  font-family: Vazirmatn;
  src: url("../fonts/textfonts/Vazirmatn-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Vazirmatn;
  src: url("../fonts/textfonts/Vazirmatn-ExtraLight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Vazirmatn;
  src: url("../fonts/textfonts/Vazirmatn-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Vazirmatn;
  src: url("../fonts/textfonts/Vazirmatn-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Vazirmatn;
  src: url("../fonts/textfonts/Vazirmatn-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Vazirmatn;
  src: url("../fonts/textfonts/Vazirmatn-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Vazirmatn;
  src: url("../fonts/textfonts/Vazirmatn-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Vazirmatn;
  src: url("../fonts/textfonts/Vazirmatn-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Vazirmatn;
  src: url("../fonts/Vazirmatn-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/*Normalize*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-align: right;
  direction: rtl;
}
body {
  font-family: Vazirmatn, sans-serif !important;
}
.float_hack {
  display: block;
  clear: both;
}

/*Header Style*/
header {
  background-color: yellow;
  padding: 20px 15px;
  width: 100%;
  border-bottom: solid 2px gray;
}
@media all and (max-width: 760px) {
  header {
    background-color: orange;
  }
}
#header_list {
  float: right;
  margin-top: 15px;
}

#header_list li {
  display: inline-block;
  margin-left: 20px;
}
#header_list a {
  color: #000;
  text-decoration: none;
}
#header_img {
  width: 35px;
  float: right;
  margin-left: 20px;
}

/*Main style*/
#main {
  margin-top: 20px;
  margin-right: 20px;
  margin-left: 20px;
}

/*Articles Styles*/
main {
  width: 75%;
  padding-left: 20px;
  padding-right: 20px;
  float: right;
}
@media (max-width: 768px) {
  main {
    width: 100%;
  }
}
main .article {
  background-color: #ccc;
  padding: 15px;
  border-radius: 7px;
  margin-bottom: 15px;
}
main .article h2 {
  padding-bottom: 10px;
  margin-bottom: 15px;
  border-bottom: 2px solid yellow;
  font-size: 20px;
  margin-bottom: 0.5em;
}
main .article h2::before {
  content: "";
  width: 15px;
  height: 15px;
  display: block;
  background-color: yellow;
  float: right;
  margin-top: 10px;
  margin-left: 10px;
}

main .article .article_img {
  position: relative;
  height: 300px;
}
main .article .article_img div {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
main .article ul {
  margin-top: 30px;
}
main .article ul li {
  width: 33.33%;
  float: right;
  list-style: none;
}
main .article ul li:nth-child(2) {
  text-align: center;
}
main .article ul li:last-child {
  text-align: left;
}
main .article ul li:last-child a {
  color: black;
  text-decoration: none;
}
main .article ul li:last-child a:hover {
  color: yellow;
}
main .article ul li:last-child a:active {
  color: orange;
}

/*Paginate Styles*/
#paginate_wrapper {
  text-align: center;
}
#paginate_wrapper #paginate {
  display: inline-block;
  background-color: yellow;
  padding: 5px 10px;
  margin: 20px auto;
  border-radius: 7px;
}
#paginate_wrapper #paginate ul {
  display: inline-block;
}
#paginate_wrapper #paginate ul li {
  display: inline-block;
}
#paginate_wrapper #paginate ul li a {
  color: black;
  text-decoration: none;
  padding: 3px;
}
#paginate_wrapper #paginate ul li a:hover {
  color: darkgray;
}

/*Aside Styles*/
aside {
  width: 25%;
  float: left;
  height: auto;
  background-color: yellow;
  padding: 15px;
  border-radius: 7px;
}
@media (max-width: 768px) {
  aside {
    width: 100%;
  }
}
aside h3 {
  border-bottom: 1px solid #000;
}
aside ul {
  margin-top: 15px;
  margin-bottom: 20px;
  list-style-position: inside;
}
aside ul li {
  margin-bottom: 5px;
}
aside ul li a {
  color: black;
  text-decoration: none;
}
aside ul li a:hover {
  color: darkgray;
}

/*Footer Styles*/
footer {
  background-color: #ccc;
  text-align: center;
  padding: 20px 0;
  margin-top: 30px;
}
@keyframes changeColor {
  from {
    color: #000;
  }
  to {
    color: #fff;
  }
}
footer span {
  animation-name: changeColor;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
